spaceone-api
azure-identity
azure-mgmt-resource
azure-mgmt-resourcehealth
azure-mgmt-compute
azure-mgmt-network
azure-mgmt-sql
azure-mgmt-monitor===6.0.2
azure-mgmt-storage
azure-mgmt-keyvault
azure-keyvault-certificates
azure-keyvault-secrets
azure-mgmt-rdbms
azure-mgmt-cosmosdb
azure-mgmt-containerinstance
azure-mgmt-webpubsub
azure-mgmt-resource
azure-mgmt-advisor==10.0.0b1
azure-mgmt-cognitiveservices